<div class="input-block">
    <input 
        {{#if id}}id="{{id}}"{{/if}}
        class="input-block__input styled-border border-radius {{#if bgGray}}input-block__bg_gray{{/if}}"
        type="{{type}}" 
        {{#if disabled}}disabled{{/if}}
        placeholder="{{placeholder}}"
        accept="{{accept}}"
        value="{{defaultValue}}"
        min="{{minValue}}"
        {{#if required}}required{{/if}}
    >
    {{#if isFile}}<label class="label-input-file">{{placeholder}}</label>{{/if}}
</div>
