<div class="input-block">
    <input id="{{id}}" class="input-block__input styled-border {{#if bg_gray}}input-block__bg_gray{{/if}}"
        type="{{type}}" placeholder="{{placeholder}}" accept="{{accept}}" value="{{defaultValue}}" min="{{minValue}}">
    {{#if isFile}}<label class="label-input-file">{{placeholder}}</label>{{/if}}
</div>
