<div
    class="photo-block {{#if borderRadiusTop}}photo-block__img_border-radius-top{{/if}} {{#if borderRadiusLeft}}photo-block__img_border-radius-left{{/if}}">

    <div class="photo-block__points {{#if disablePoints}}hidden{{/if}}">
        {{#each Points}}
        {{#if this}}
        <div class="photo-block__point photo-block__point_active" data-id="{{@index}}"></div>
        {{else}}
        <div class="photo-block__point photo-block__point_disabled" data-id="{{@index}}"></div>
        {{/if}}
        {{/each}}
    </div>

    <div class="photo-block__arrows">
        <div class="photo-block__arrow photo-block__arrow_left {{#if disableLeftArrow}}hidden{{/if}}">
            <div class="photo-block__arrow__icon">
                {{{arrow_left}}}
            </div>
        </div>
        <div class="photo-block__arrow photo-block__arrow_right {{#if disableRightArrow}}hidden{{/if}}">
            <div class="photo-block__arrow__icon">
                {{{arrow_right}}}
            </div>
        </div>
    </div>
    <img class="photo-block__img {{#if borderRadiusTop}}photo-block__img_border-radius-top{{/if}} {{#if borderRadiusLeft}}photo-block__img_border-radius-left{{/if}}"
        src="{{photo}}" />
    <div
        class="photo-block__bg photo-block__bg-div {{#if borderRadiusTop}}photo-block__img_border-radius-top{{/if}} {{#if borderRadiusLeft}}photo-block__img_border-radius-left{{/if}}">
        <img class="photo-block__bg photo-block__bg-img" src="{{photo}}" />
    </div>
</div>
