<div class="placeholder {{{classes}}}" id="{{id}}">
    <div class="placeholder__icon">{{{iconCode}}}</div>
    <div class="placeholder__title Title Title--w-semibold">{{{title}}}</div>
    <div class="placeholder__subtitle Header">{{{subtitle}}}</div>
</div>
