<div class="cell {{#if hover}}cell_hover{{/if}} {{#if pointer}}pointer{{/if}} " {{#if id}}id="{{id}}" {{/if}}>
    {{#if avatar}}
    <div class="cell__avatar">
        <img class="icon avatar avatar_l" src="{{avatar}}" />
    </div>
    {{/if}}
    {{#if iconBefore}}
    <div class="cell__avatar">
        {{{iconBefore}}}
    </div>
    {{/if}}
    <div class="cell__in">
        <div class="cell__content Text Text--w-semibold">
            <div class="cell__children">
                {{{children}}}
            </div>
        </div>
        <div class="cell__text Text Text--w-medium">
            {{text}}
        </div>
        <div class="Caption Caption--w-regular Caption--l-1 cell__caption">
            {{{caption}}}
        </div>
    </div>
    <div class="cell__after">
        {{{after}}}
    </div>
</div>
