<div class="message-header">
    {{{chevron_back}}}
    <div class="message-header__avatar">
        <img class="icon avatar avatar_l" src="{{chatUser.avatar}}" />
    </div>
    <div class="message-header__title">{{chatUser.name}}</div>
    <div class="message-header__avatar message-header__lock">
        {{{lock}}}
    </div>
</div>
<div class="message-chat__writebar">
    {{{WriteBar}}}
</div>
<div class="message-chat__list__contnet">
    <div class="message-chat__list__div">
        <div class="message-chat__list">
            {{#each Messages}}
            {{{this}}}
            {{else}}
            <div class="center-placeholder-label" id="message-chat__no-message">
                Сообщений нет
            </div>
            {{/each}}
        </div>
    </div>
</div>
