<div class="message-chat styled-border">
    <div class="message-header">
        {{#if chatUser.avatar}}
        <div class="message-header__avatar">
            <img class="icon avatar avatar_l" src="{{chatUser.avatar}}" />
        </div>
        {{/if}}
        <div class="message-header__title">{{chatUser.name}}</div>
    </div>
    <div class="message-chat__writebar">
        {{{WriteBar}}}
    </div>
    <div class="message-chat__list__contnet">
        <div class="message-chat__list">
            {{#each Messages}}
            {{{this}}}
            {{else}}
            Сообщений нет
            {{/each}}
        </div>
    </div>
</div>
